traces/*
traces_fw/*
traces_bw/*
results/*
checkpoint_files/*
*.csv
*.out
*.txt
*.log
*.log.gz
xla_hlo/*
ndp_traces_backup/*
results_baseline/*
BERT_NDPX/scripts/utils2/__pycache__/*
*error
*output
*/__pycache__
*sim_env_*
*sim_result_*